@font-face {
  font-family: "Cuprum";
  src: 
    local("Cuprum Regular"), local("Cuprum-Regular"), url(../fonts/cuprum.woff2) format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Cuprum";
  src: 
    local("Cuprum Regular Italic"), local("Cuprum-Regular-Italic"), url(../fonts/cuprumitalic.woff2) format("woff2");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Cuprum";
  src: 
    local("Cuprum Bold"), local("Cuprum-Bold"), url(../fonts/cuprumbold.woff2) format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "PTSans";
  src: 
    local("PTSans"), local("PT-Sans"), url(../fonts/ptsans.woff2) format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PTSans";
  src: 
    local("PTSans Bold"), local("PT-Sans-Bold"), url(../fonts/ptsansbold.woff2) format("woff2");
  font-style: normal;
  font-weight: bold;
}

body {
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  
}

a {
  text-decoration: none;
  color: #ffffff;
}

.button {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 2px;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*шапка*/
/*-----------------------------------------------------------*/

.main-header {
  color: #32425c;
  background-color: #f3f7f9;
  
  padding-bottom: 65px;
}

.main-header-top-wrapper {
  width: 100%;
  background-color: #293449;
}

.user-menu-list ul,
.user-menu-list,
.header-menu-list,
.buy-link-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 1px solid rgb(255,255,0);
}

.main-header-top-line {
  display: flex;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.main-header-logo {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  background-color: #ee3643;
  box-shadow: 0 5px 0 #b52933;
  text-transform: uppercase;
}

.main-header-logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 #9a212a;
}

.main-header-logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 #8e1e36;
}

.main-header input {
  font: inherit;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid transparent;
}

.main-header input::-moz-placeholder {
  font-size: 17px;
  color: #ffffff;
  opacity: 1;
}

.main-header input::-webkit-input-placeholder {
  font-size: 17px;
  color: #ffffff;
}

.main-header input:hover {
  background-color: #212a3a;
}

.main-header input:focus {
  color: #000000;
  background-color: #ffffff;
}

.buy-link-list {
  margin-left: auto;
}

.buy-link-list a {
  font-size: 17px;
  line-height: 18px;
}

.buy-link-list a:not(.button):hover {
  background-color: #212a3a;
}

.buy-link-list a:not(.button):active {
  color: rgba(255,255,255,0.6);
  background-color: #161d29;
}

.no-empty a {
  background-color: #ee3643;
}

.main-header-top-line a.button {
  text-transform: none;
  background-color: #63a63e;
}

.main-header-top-line a.button:hover {
  background-color: #5fbb2d;
}

.main-header-top-line a.button:active {
  color: rgba(255,255,255,0.5);
  background-color: #518534;
}

.main-header-base {
  display: flex;
}

.slogan {
  width: 200px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.adress {
  font-size: 14px;
  line-height: 24px;
}

.phone {
  border: 3px solid #ffffff;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}



.user-menu-list a {
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
}

.authorized-list a {
  font-size: 16px;
  line-height: 18px;
  background-color: transparent;
  color: #32425c;
}

.user-menu-list a:hover {
  color: #ee3643;
}

.user-menu-list a:active {
  color: rgba(0,0,0,0.3);  
}

.user-menu-list a.authorised:hover {
  color: #000000;
}

.user-menu-list a.authorised:active {
  color: rgba(0,0,0,0.3);  
}


.header-menu-list {
  color: #ffffff;
  background-color: #32425c; 
  box-shadow: 0 5px 0 #293449;
}

.header-main-menu a {
  font-size: 17px;
  line-height: 17px;
}

.header-main-menu a:hover {
  background-color: #293449;
}

.header-main-menu a:active {
  color: rgba(255,255,255,0.5);
  background-color: #1d2739;
}

/*каталог*/
/*-----------------------------------------------------------*/

.inner {
  font-family: "PTSans", Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0 0;
  outline: 1px solid rgb(255,255,0);
}

.breadcrumbs a {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  background-color: #ffffff;
  color: #000000;
}

.page-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f3f7f9;
}

.catalog-layout {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 220px;
  outline: 1px solid rgb(255,255,0);
}

.filter ul {
  list-style: none;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "PTSans", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter .button {
  text-transform: uppercase;
  border: 1px solid rgb(229,229,229);
  border-radius: 2px;
  font-size: 13px;
  line-height: 18px;
  background-color: #ffffff;
  color: #000000;
}
.filter .button:hover {
  border: 1px solid rgb(189,198,202);
}
.filter .button:active {
  border: 1px solid #ee3643;
}

.catalog {
  width: 700px;
  outline: 1px solid rgb(255,255,0);
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;  
  justify-content: space-between;
  list-style: none;
}

.catalog .item {
  width: 218px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #999999; 
  outline: 1px solid rgb(255,255,0);
}

/*.catalog .item:hover {
  border: none;
  box-shadow: 0 0 10px #000000;
  
}*/

.item a {
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.item-price span{
  color: #ffffff;
  background-color: #ee3643;
}

/*разметка основной страницы*/
/*-----------------------------------------------------------*/
.about-contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 79px;
  padding-bottom: 86px;
}

.about-us {
  width: 540px;
  outline: 1px solid rgb(255,255,0);
}

.contacts {
  width: 300px;
  outline: 1px solid rgb(255,255,0);
}

.about-us h2,
.contacts h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.about-us p,
.contacts p {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-us ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us li {
  font-size: 18px;
  line-height: 20px;
}

/* подвал */
/*-------------------------------------------------------------*/

.main-footer {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  background-color: #32425c;
}

.main-footer ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-top-line {
  display: flex;
}

.footer-logo {
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  background-color: #ee3643;
  box-shadow: 0 5px 0 #b52933;
}

.footer-top-line .footer-menu-list {
  margin-left: auto;
}

.footer-menu-list a {
  font: heritage;
  color: #f1f5f7;
}

.footer-middle {
  display: flex;
}

.footer-middle .footer-menu-list {
  margin-left: auto;
}

.footer-middle a {
  color: #ffd180;
}

.footer-menu-list a:hover,
.footer-feedback a:hover,
.footer-designer a:hover {
  text-decoration: underline;
}

.footer-menu-list a:active {
  color: rgba(241,245,247,0.5);
  text-decoration: none;
}

.footer-middle a:active {
  color: rgba(225,209,128,0.5);
  text-decoration: none;
}

.footer-bottom-wrapper {
  width: 100%;
  background-color: #293449;
}

.footer-links {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.footer-links b{
  font-weight: normal;
}

.footer-feedback a:,
.footer-designer a: {
  font: heritage;
}

.footer-feedback a:active,
.footer-designer a:active {
  color: #ee3643;
  text-decoration: none;
}

.modal {
  display: none;
}

