@font-face {
  font-family: "Cuprum";
  src: 
    local("Cuprum Regular"), local("Cuprum-Regular"), url(../fonts/cuprum.woff2) format("woff2"), url(../fonts/cuprum.woff) format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Cuprum";
  src: 
    local("Cuprum Regular Italic"), local("Cuprum-Regular-Italic"), url(../fonts/cuprumitalic.woff2) format("woff2");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Cuprum";
  src: 
    local("Cuprum Bold"), local("Cuprum-Bold"), url(../fonts/cuprumbold.woff2) format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "PTSans";
  src: 
    local("PTSans"), local("PT-Sans"), url(../fonts/ptsans.woff2) format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PTSans";
  src: 
    local("PTSans Bold"), local("PT-Sans-Bold"), url(../fonts/ptsansbold.woff2) format("woff2");
  font-style: normal;
  font-weight: bold;
}

body {
  margin: 0;
  min-width: 960px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  line-height: 24px;
  color: #000000;
  /*background-color: #ffffff;*/
 /* фон для подгонки ------------------------------------------------------------------------------------*/
  background-image: url("../../Technomarket/maket/technomart/preview/technomart-index.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  /*прозрачность для подгонки ----------------------------------------------------------------------------*/
  opacity: 0.7;
  
}

a {
  text-decoration: none;
  color: #ffffff;
}

.button {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 2px;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*шапка*/
/*-----------------------------------------------------------*/

.main-header {
  color: #32425c;
  background-color: #f3f7f9;
  
  padding-bottom: 65px;
}

.main-header-top-wrapper {
  width: 100%;
  background-color: #293449;
}

.user-menu-list ul,
.user-menu-list,
.header-menu-list,
.buy-link-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-top-line {
  display: flex;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.main-header-logo {
  display: block;
  padding: 9px 55px;
  width: 110px;
  vertical-align: middle;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  background-color: #ee3643;
  box-shadow: 0 5px 0 #b52933;
  text-transform: uppercase;
}

.main-header-logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 #9a212a;
}

.main-header-logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 #8e1e36;
}

.main-header .search-form {
  position: relative;
}

.search-form svg {
  position: absolute;
  top: 12px;
  left: 17px;
  z-index: 60;
  opacity: 0.3;
}

input.search-line:hover ~ label svg {
  opacity: 1;
}

input.search-line:focus ~ label svg {
  opacity: 1;
}

input.search-line:focus ~ label path {
  fill: #cd3944;
}

.main-header input {
  width: 174px;
  padding: 12px 48px;
  position: relative;
  font: inherit;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.main-header input::-moz-placeholder {
  font-size: 17px;
  color: #ffffff;
  opacity: 1;
}

.main-header input::-webkit-input-placeholder {
  font-size: 17px;
  color: #ffffff;
}

.main-header input:hover {
  background-color: #212a3a;
}

.main-header input:focus {
  color: #000000;
  background-color: #ffffff;
}

.buy-link-list {
  display: flex;
  width: 450px;
  margin-left: auto;
  justify-content: flex-end;
}

.buy-link-list a {
  display: block;
  padding: 12px 20px;
  font-size: 17px;
  line-height: 18px;

}

a.header-bookmark,
a.header-cart {
  padding-left: 50px;
  width: 80px;
  position: relative;
}

a.header-bookmark {
  padding-right: 25px;
  padding-left: 45px;
  position: relative;
}


a.header-bookmark::before {
  content: "";
  width: 14px;
  height: 16px;
  position: absolute;
  top: 12px;
  left: 17px;
  
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

a.header-cart::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 12px;
  left: 17px;
  
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

a.header-bookmark:hover::before,
a.header-cart:hover::before {
  opacity: 1;
}

a.header-bookmark:active::before,
a.header-cart:active::before {
  opacity: 0.5;
}

.buy-link-list a:not(.button):hover {
  background-color: #212a3a;
}

.buy-link-list a:not(.button):active {
  color: rgba(255,255,255,0.6);
  background-color: #161d29;
}

.no-empty a {
  background-color: #ee3643;
}

.main-header-top-line a.button {
  width: 110px;
  text-transform: none;
  background-color: #63a63e;
  border-radius: 0;
}

.main-header-top-line a.button:hover {
  background-color: #5fbb2d;
}

.main-header-top-line a.button:active {
  color: rgba(255,255,255,0.5);
  background-color: #518534;
}

.main-header-base {
  display: flex;
}

.slogan p {
  margin: 0;
  padding: 0;
}

.slogan {
  padding: 49px 51px;
  padding-bottom: 40px;
  vertical-align: middle;
  width: 198px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.main-header-base .contacts {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  width: 270px;
  padding-top: 47px;
}

.main-header-base .adress {
  margin: 0;
  margin-top: 2px;
  text-align: center;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.main-header-base .phone {
  display: block;
  position: relative;
  order: -1;
  border: 3px solid #ffffff;
  padding-left: 32px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.main-header-base .phone::before {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  top: 9px;
  left: 11px;
  
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.user-menu-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 299px;
  margin-bottom: auto;
  margin-left: auto;
  padding-top: 46px;
  align-items: flex-start;
}


.user-menu-list a {
  display: block;

  padding: 12px 10px;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.user-menu-list li:first-child > a {
  position: relative;
  margin-left: 18px;
  padding-left: 30px;
  width: 81px;
}

.user-menu-list li:first-child svg {
  position: absolute;
  top: 13px;
  left: 13px;
}

.user-menu-list a:hover path {
  fill: #32425c;
}

.user-menu-list a:active path {
  fill: #c5c5c5;
}

.user-menu-list li:last-child > a {
  margin-left: 10px;
  width: 130px;
}

.user-menu-list li:first-of-type > a.authorised {
  margin: 0;
  padding-right: 48px;
  width: 221px;
}

.user-menu-list li:nth-of-type(2) > a.authorised {
  position: absolute;
  top: 46px;
  right: 0px;
}

.user-menu-list > li:nth-of-type(2) > a:hover {
  background-color: #ffffff;
}

.user-menu-list > li:nth-of-type(2) > a:active {
  background-color: #ffffff;
}

ul.authorized-list {
  display: flex;
  position: relative;
  justify-content: flex-start;
}

ul.authorized-list::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius:50%;
  top: 14px;
  left: 107px;
  background-color: #3a445b;
}

ul.authorized-list li > a {
  padding: 7px;
  font-size: 16px;
  line-height: 18px;
  background-color: transparent;
  color: #32425c;
}

ul.authorized-list li:first-of-type > a {
  margin: 0;
  padding-left: 15px;
}

ul.authorized-list li:last-of-type > a {
  margin: 0;
  width: auto;
  margin-left: 15px;
}

ul.authorized-list li > a:hover {
  text-decoration: underline;
}

ul.authorized-list li > a:active {
  text-decoration: underline;
}


.user-menu-list a:hover {
  color: #ee3643;
}

.user-menu-list a:active {
  color: rgba(0,0,0,0.3);  
}

.user-menu-list a.authorised:hover {
  color: #000000;
}

.user-menu-list a.authorised:active {
  color: rgba(0,0,0,0.3);  
}


.header-menu-list {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  justify-content: space-between;
  color: #ffffff;
  background-color: #32425c; 
  box-shadow: 0 5px 0 #293449;
}

.header-menu-list :first-child > a {
  padding-left: 51px;
}

.header-menu-list :last-child > a {
  padding-right: 54px;
}

.header-main-menu a {
  display: block;
  padding: 19px 30px;
  font-size: 17px;
  line-height: 17px;
}

.header-main-menu a:hover {
  background-color: #293449;
}

.header-main-menu a:active {
  color: rgba(255,255,255,0.5);
  background-color: #1d2739;
}

/*каталог*/
/*-----------------------------------------------------------*/

.inner {
  font-family: "PTSans", Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.breadcrumbs {
  display: flex;
  margin: 17px 0px;
  padding: 0;
  justify-content: flex-start;
  list-style: none;
}

.breadcrumbs li {
  margin-right: 40px;
  position: relative;
}

.breadcrumbs li::before {
  content: "";
  width: 8px;
  height: 12px;
  position: absolute;
  left: -25px;
  top: 6px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.breadcrumbs li:first-child::before {
  display: none;
}

.breadcrumbs a {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  background-color: #ffffff;
  color: #000000;
}

.page-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f3f7f9;
}



.catalog-layout {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 220px;
}

.filters h2 {
  margin: 0;
  margin-bottom: 11px;
  padding: 10px 19px 10px;
  font-family: "PTSans", Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
  border-radius: 2px;
}

.range-controls {
  margin-top: 2px;
  margin-bottom: 9px;
  position: relative;
  padding: 39px 20px;
  background-color: #f7f3ec;
  border-radius: 0px 0px 6px 6px;
}

.scale {
  height: 2px;
  width: 180px;
  background-color: #d7dcde;
}

.bar {
  height: 2px;
  width: 152px;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  height: 4px;
  width: 4px;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 0 #e0ddd8;
  cursor: pointer;
}

.range-controls .left-toggle {
  top: 30px;
  left: 20px;
}

.range-controls .right-toggle {
  top: 30px;
  right: 40px;
}

.price-controls {
  position: relative;
  display: flex;
  margin-bottom: 21px;
  justify-content: space-between;
}

.price-controls::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  top: 50%;
  left: 50%;
  background-color: #000000;
  margin-left: -5px;
}


.price-controls input {

  border: none;
  width: 95px;
  padding-top: 9px;
  padding-bottom: 11px;
  background-color: #f7f3ec;
  border-radius: 2px;
  text-align: center;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  
}


.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  padding-top: 1px;
  border: none;
}

.filter hr {
  margin: 0;
  margin-top: 4px;
  margin-bottom: 15px;
  height: 1px;
  border: none;
  background-color: #e5e5e5;
}

.filter legend {
  display: block;
  padding: 0;
  margin-bottom: 12px;
  font-family: "PTSans", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter li {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter label {
  display: block;
  position: relative;
  cursor: pointer;
}

.filter-input-checkbox + label::before {
  position: absolute;
  content: "";
  top: 0px;
  left: -34px;
  width: 19px;
  height: 19px;
  border: 2px solid #b5b5b5;
  border-radius: 3px;
}

.filter-input-checkbox + label:hover::before {
  border-color: #c5c5c5;
}

.filter-input-checkbox:checked + label::after {
  position: absolute;
  content: "";
  top: 0px;
  left: -34px;
  width: 27px;
  height: 23px;
  background: 0 0 no-repeat url("../img/checkbox-on.svg");
  opacity: 0.8
}

.filter-input-checkbox:checked + label:hover::after {
  opacity: 1;
}

.filter-input-radio + label::before {
  position: absolute;
  content: "";
  top: 0px;
  left: -35px;
  width: 15px;
  height: 15px;
  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio + label:hover::before {
  border-color: #b5b5b5;
}

.filter-input-radio:checked + label::after {
  position: absolute;
  content: "";
  top: 7px;
  left: -28px;
  width: 1px;
  height: 1px;
  border: 4px solid #c5c5c5;
  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked + label:hover::after {
  border-color: #b5b5b5;
  background-color: #b5b5b5;
}

.filter .button {
  margin-top: 59px;
  margin-bottom: 20px;
  padding: 9px 38px;
  text-transform: uppercase;
  border: 1px solid rgb(229,229,229);
  border-radius: 2px;
  font-size: 13px;
  line-height: 18px;
  background-color: #ffffff;
  color: #000000;
}
.filter .button:hover {
  border: 1px solid rgb(189,198,202);
}
.filter .button:active {
  border: 1px solid #ee3643;
}

.catalog {
  width: 700px;
}

.sorting {
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  background-color: #f7f3ec;
  border-radius: 2px;
}

.sorting h3 {
  margin: 0;
  padding: 10px 19px 10px;
  font-family: "PTSans", Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

.sorting-menu,
.order-menu {
  margin: 0;
  display: flex;
  list-style: none;
}

.sorting-menu {
  margin-left: 110px;
  padding: 10px;
  padding-bottom: 9px;
  width: 356px;
  justify-content: space-between;
  font-family: "PTSans", Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

.sorting-menu a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sorting-menu a:hover {
  color: rgba(0, 0, 0, 1);
  border-bottom-style: solid;
}

.sorting-menu .active > a {
  color: #ee3643;
  border-bottom-color: transparent;
}

.order-menu {
  margin-left: 25px;
  padding: 0px 10px;
  width: 43px;
  justify-content: space-between;
}

.order-menu a {
  display: block;
  height: 1px;
  padding: 0px 0.5px;
  margin: 13px 0px;
  font-size: 0;
  border: 5px solid transparent;
  border-bottom: 10px solid #c5c5c5;
  border-top: none;
}

.order-menu .z-a > a {
  border: 5px solid transparent;
  border-top: 10px solid #c5c5c5;
  border-bottom: none;
}

.order-menu a:hover {
  border-top-color: #000000;
  border-bottom-color: #000000;
}

.order-menu .active > a {
  border-top-color: #ee3643;
  border-bottom-color: #ee3643;
}



.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;  
  justify-content: space-between;
  list-style: none;
}

.catalog .item,
.popular-items .item {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 218px;
  margin-bottom: 21px;
  border: 1px solid #e5e5e5;
  align-items: center;
  justify-content: flex-start;
  font-size: 17px;
  line-height: 18px;
  font-family: "PTSans", Arial, sans-serif;
  font-weight: bold;
  color: #999999; 
  
}

.item .button-wrapper {
  display: none;
  position: absolute;
  width: 135px;
  top: 43px;
  left: 40px;
  z-index: 20;
}

.item .button-wrapper > a { /*button {*/
  display: block;
  margin-bottom: 12px;
  padding: 10px;
  width: 115px;
  border-radius: 3px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.item .button-wrapper > a.buy { /*button.buy {*/
  position: relative;
  border: none;
  box-shadow: 0 3px 0 #367315;
  padding-bottom: 6px;
  
  background-color: #63a63e;
}

.item .button-wrapper > a.buy::before { /*button.buy::before {*/
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: url("../img/icon-cart.svg") no-repeat 0 0;
  top: 11px;
  left: 13px;
  opacity: 0.3;
}

.item .button-wrapper > a.buy:hover { /*button.buy:hover {*/
  background-color: #5fbb2d;
}

.item .button-wrapper > a.buy:active { /*button.buy:active {*/
  background-color: #367315;
}

.item .button-wrapper > a.mark { /*button.mark {*/
  padding-top: 8px;
  padding-bottom: 7px;
  border: 3px solid #63a63e;
  width: 109px;
  color: #32425c;
  background-color: #ffffff;
}

.item .button-wrapper > a.mark:hover { /*button.mark:hover {*/
  border-color: #32425c;
}

.item .button-wrapper > a.mark:active { /*button.mark:active {*/
  border-color: #c1c6ce;
  color: #c1c6ce;
}

.catalog .item:hover,
.popular-items .item:hover {
  border-color: #ffffff;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.item:hover img{
  display: none;
  
}

.item:hover .button-wrapper {
  display: block;  
}

.catalog .new::after,
.popular-items .new::after {
  content: "";
  width: 60px;
  height: 59px;
  top: -1px;
  right: -1px;
  position: absolute;
  background: url("../img/new flag.png") no-repeat 0 0;
  z-index: 10;
  
}

.catalog .image-wrapper,
.popular-items .image-wrapper {
  order: -1;
  display: flex;
  width: 184px;
  height: 164px;
  margin: 2px 0px;
  justify-content: center;
  align-items: center;
}

.item span,
.item del {
  display: block;
  text-align: center;
}

.item h3 {
  margin: 0;
  padding: 0;
  margin-top: 9px;
  margin-bottom: 11px;
}

.item p {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  justify-content: flex-end;
}

.item a {
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.item-price .discount {
  text-decoration: line-through;
}

.item-price span{
  position: relative;
  margin: 11px 0px;
  margin-bottom: 20px;
  padding: 10px 8px;
  width: 120px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #ee3643;
}

.item-price span::after {
  position: absolute;
  content: "";
  top: 0px;
  right: -24px;
  width: 0;
  height: 0;
  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}

ul.pagination-list {
  margin: 0;
  padding: 0;
  margin-top: 31px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}

.pagination-item a {
  display: block;
  margin: 0;
  padding: 9px 14px;
  margin-right: 10px;
  border: 1px solid #e5e5e5;
  color: #000000;
  background-color: transparent;
}

.pagination-item:last-child a {
  padding: 9px 29px;
}

.pagination-item a:hover {
  background-color: transparent;
  border-color: #bdc6ca;
}

.pagination-item a:active {
  background-color: transparent;
  border-color: #ee3643;
}


.pagination-item.current-item a {
  color: #ffffff;
  background-color: #ee3643;
}

article.item-article {
  margin-top: 60px;
  background-color: #f2f6f8;
}


h2.article-name {
  margin: 0;
  padding: 0;
  padding-top: 64px;
  letter-spacing: 0.2px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

article p {
  margin: 0;
  margin-top: 26px;
  padding-bottom: 69px;
  font-size: 13px;
  line-height: 24px;
}

/*разметка основной страницы*/
/*-----------------------------------------------------------*/

.promotion {
  display: flex;
  justify-content: space-between;
  margin-top: 59px;
}

.promotion .left-side {
  width: 620px;
  min-height: 409px;
}

.promotion .right-side {
  width: 300px;
}

ul.promo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

 .left-side ul.promo-list {
  display: flex;
  justify-content: space-between;
}

li.promo-card {
  display: block;
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px 23px;
}

.left-side .promo-card {
  width: 254px;  
}

.left-side li.promo-card:first-child {
  background: url("../img/icon-1.svg") no-repeat 213px 31px;
  background-color: #ffbf47;
}

.left-side li.promo-card:last-child {
  background: url("../img/icon-2.svg") no-repeat 197px 32px;
  background-color: #3bbce3;
}

.right-side li.promo-card {
  background: url("../img/icon-4.svg") no-repeat 196px 26px;
  background-color: #8ed78f;
}

.right-side li.promo-card:first-child {
  background: url("../img/icon-3.svg") no-repeat 190px 31px;
  background-color: #dc91d8;
}

.right-side li.promo-card:last-child {
  background: url("../img/icon-5.svg") no-repeat 191px 32px;
  background-color: #ffbf47;
}

.promotion .new::after {
  content: "";
  width: 60px;
  height: 59px;
  top: 0px;
  right: 0px;
  position: absolute;
  background: url("../img/new flag.png") no-repeat 0 0;
  z-index: 10;
  
}

.promo-card h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promo-card a {  
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;
  display: block;
  width: 135px;
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-card a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-card a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-card img {
  display: block;
  position: absolute;
  top: 25%;
  right: 13%;
}

.slider {
  position: relative;
}

.slider-controls .select-button {
  position: absolute;
  font-size: 0;
}

.slider-controls .left-button {
  width: 22px;
  height: 40px;
  top: 114px;
  left: 25px;
  background: url("../img/icon-left.svg") no-repeat 0 0;
  cursor: pointer;
}

.slider-controls .right-button {
  width: 22px;
  height: 40px;
  top: 114px;
  right: 20px;
  background: url("../img/icon-right.svg") no-repeat 0 0;
  cursor: pointer;
}

ul.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 22px 25px;
  min-height: 222px;
}

.slider-item:first-child {
  background: url("../img/slider-1.jpg") no-repeat 0 0;
}

.slider-item:last-child {
  background: url("../img/slider-2.jpg") no-repeat 0 0;
}

#toggle:checked ~ .slider-list .slider-item:first-child {
  display: block;
}

#toggle:not(:checked) ~ .slider-list .slider-item:last-child {
  display: block;
}

.slider-item h3 {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.slider-item p {
  margin-top: 2px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  color: #ffffff;
}

.slider-item .button {
  display: block;
  margin-top: 122px;
  width: 175px;
  padding: 10px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
}



.popular-items .wrapper,
.popular-manufacturers .wrapper {
  display: flex;
  padding-left: 28px;
  padding-right: 24px;
  padding-top: 25px;
  padding-bottom: 26px;
  margin: 20px 0;
  margin-top: 33px;
  justify-content: space-between;
  background-color: #f9f5f0;
}

.popular-items h2,
.popular-manufacturers h2 {
  margin: 0;
  padding-top: 4px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.popular-items .wrapper > a.button,
.popular-manufacturers .wrapper > a.button {
  margin: 0;
  padding: 10px;
  width: 233px;
  text-align: center;
}

.popular-items-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;  
  justify-content: space-between;
  list-style: none;
}

.popular-manufacturers .wrapper {
  margin-top: 1px;
}

.popular-manufacturers-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0; 
  margin-bottom: 65px;
  justify-content: space-between;
  list-style: none;
}

.popular-manufacturers-cards li {
  margin-bottom: 20px;
}

.popular-manufacturers-cards a {
  display: flex;
  border: 1px solid #eaeaea;
  width: 218px;
  min-height: 143px;
  justify-content: center;
  align-items: center;
}

.popular-manufacturers-cards a:hover {
  border-color: #ffffff;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-manufacturers-cards a:active {
  border-color: #ffffff;
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}
 
.features {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  padding-top: 65px;
  padding-bottom: 54px;
  background-color: #f4f7f9;
}

.features h2 {
  margin: 0;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.features .container > p {
  margin: 0;
  padding: 0;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  padding-right: 540px;
}

.features .wrapper {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
}

.features-selector {
  position: relative;
  margin: 0;
  padding: 48px 0;
  width: 240px;
  list-style: none;
}

.features-selector::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 272px;
  bottom: 0;
  right: 0;
  background: url("../img/service_shadow.png") no-repeat 0 0;
}

.features-selector button {
  margin: 0;
  padding: 12px 10px 17px 22px;
  border: none;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  width: 100%;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
  background-color: #32425c;
}

.features-selector button.active {
  color: #32425c;
  background-color: #ffffff;
  border-color: #ffffff;
}

.features-selector button:not(.active):hover {
  background-color: #293449;
}

.features .features-item {
  width: 620px;
}

.features .features-item > h3 {
  margin: 0;
  margin-top: 51px;
  margin-bottom: 31px;
  font-weight: normal;
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
}

.features .features-item > p {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  width: 380px;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.features .delivery > p {
  width: 275px;
}

.features .delivery {
  display: none;
  position: relative;

}

.features .guarantee {
  display: none;
  position: relative;
}

.features .credit {
  display: none;
  position: relative;
}

.credit .button {
  display: block;
  margin: 0;
  padding: 10px;
  width: 175px;
  text-align: center;
}

.features .delivery::after {
  content: "";
  position: absolute;
  width: 468px;
  height: 261px;
  bottom: -54px;
  right: 0px;
  background: url("../img/delivery.png") no-repeat 0 0;
}

.features .guarantee::after {
  content: "";
  position: absolute;
  width: 389px;
  height: 283px;
  bottom: -54px;
  right: -8px;
  background: url("../img/guarantee.png") no-repeat 0 0;
}

.features .credit::after {
  content: "";
  position: absolute;
  width: 465px;
  height: 285px;
  bottom: -54px;
  right: -10px;
  background: url("../img/credit.png") no-repeat 0 0;
}


 

.about-contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
  padding-bottom: 86px;
}

section.about-us {
  width: 540px;
}

section.contacts {
  width: 300px;
}

section.about-us h2,
section.contacts h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

section.about-us p,
section.contacts p {
  margin-top: 25px;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

section.about-us p:last-of-type {
  padding-right: 100px;
}

section.about-us ul {
  list-style: none;
  margin: 0;
  margin-top: 21px;
  padding-left: 37px;
  padding-bottom: 10px;
}

section.about-us li {
  position: relative;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 20px;
}

section.about-us li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 50%;
  left: -37px;
  background-color: #ee3643;
}

section.about-us a.button {
  margin-top: 7px;
  display: block;
  padding: 10px;
  width: 200px;
  text-align: center;
}

section.contacts p {
  padding-right: 100px;
}

section.contacts a:first-of-type {
  padding: 0px;
  display: block;
  margin-top: 33px;
  margin-bottom: 40px;
  line-height: 0px;
}

section.contacts a.button {
  margin-top: 7px;
  display: block;
  padding: 10px;
  text-align: center;
}



/* подвал */
/*-------------------------------------------------------------*/

.main-footer {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  background-color: #32425c;
}

.main-footer ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-top-line {
  display: flex;
}

.footer-logo {
  padding: 19px 41px;
  padding-bottom: 14px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  box-shadow: 0 5px 0 #b52933;
}

.footer-top-line .footer-menu-list {
  display: flex;
  width: 548px;
  padding-bottom: 2px;
  margin-left: auto;
  margin-top: auto;
  justify-content: space-between;
}

.footer-menu-list a {
  font: inherit;
  color: #f1f5f7;
}

.footer-middle {
  display: flex;
}

.footer-middle .contacts {
  margin: 0;
  padding-top: 33px;
  padding-bottom: 50px;
  width: 377px;
  padding-left: 4px;
}

.footer-middle .footer-menu-list {
  display: flex;
  width: 525px;
  padding-top: 33px;
  margin-left: auto;
  margin-bottom: auto;
  justify-content: space-between;
}

.footer-middle a {
  color: #ffd180;
}

.footer-menu-list a:hover,
.footer-feedback a:hover,
.footer-designer a:hover {
  text-decoration: underline;
}

.footer-menu-list a:active {
  color: rgba(241,245,247,0.5);
  text-decoration: none;
}

.footer-middle a:active {
  color: rgba(225,209,128,0.5);
  text-decoration: none;
}

.footer-bottom-wrapper {
  width: 100%;
  background-color: #293449;
}

.footer-links {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.footer-copyright {
  margin: 0;
  padding-top: 35px;
  padding-left: 1px;
  padding-right: 10px;
  width: 240px;
  padding-bottom: 36px;
}

.footer-links .footer-social {
  display: flex;
  width: 270px;
  padding-top: 34px;
  margin-bottom: auto;
  padding-right: 100px;
  justify-content: flex-end;
}


.footer-social a {
  margin-left: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
}

.footer-social a:hover {
  background-color: #ee3643;
}

.footer-social a:active {
  background-color: #ee3643;
}



p.footer-feedback {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 36px;
  width: 150px;
}

p.footer-designer {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  padding-left: 28px;
  padding-top: 36px;
  width: 110px;
}

.footer-links b {
  font-weight: normal;
}

.footer-feedback a,
.footer-designer a{
  font: inherit;
  color: #ffd180;
}

.footer-feedback a:active,
.footer-designer a:active {
  color: #ee3643;
  text-decoration: none;
}

.modal-contact {
  display: none;
  position: fixed;
  border-top: 7px solid #ff5357;
   
  top: 200px;
  left: 50%;
  margin-left: -310px;
  width: 620px;
  min-height: 350px;
  background-color: #ffffff;
  z-index: 50;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}


.contact-form { 
  background-color: #f4f4f4;
}

.contact-form .form-wrapper {
  padding: 45px 80px 37px 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  justify-content: space-between;
}

.contact-form p {
  margin: 0;
  width: 220px;
}

.contact-form p:last-of-type {
  width: 100%;
}

.contact-form label {
  display: block;
  font-size: 18px;
  line-height: 18px;
}

.contact-form input,
.contact-form textarea {
  margin-top:10px;
  padding-left: 14px;
  padding-top: 11px;
  padding-bottom: 10px;
  width: 202px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PTSans", Arial, sans-serif;
  color: #a8a8a8;
  border: none;
  border: 2px solid #dee2e3;
  border-radius: 2px;
}

.contact-form input {
  margin-bottom: 20px;
}

.contact-form textarea {
  width: 442px;
}


.contact-form .button {
  margin: 37px 80px 37px 80px;
  width: 460px;
  padding-top: 11px;
  padding-bottom: 9px;
  border: none;
  font-family: "Cuprum", Arial, sans-serif;
}

.modal-button {
  position: absolute;
  border: none;
  width: 21px;
  height: 21px;
  top: 9px;
  right: 9px;
  font-size: 0;
  background: url("../img/icon-close.svg") no-repeat 0 0;
  cursor: pointer;
}

.modal-map {
  display: none;
  position: fixed;
  top: 200px;
  left: 50%;
  margin-left: -470px;
  width: 940px;
  height: 446px;
  background-color: #ffffff;
  z-index: 50;
  box-shadow: 0 0 16px rgba(47, 42, 43, 0.7);
}

.modal-confirmation {
  display: flex;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  top: 200px;
  border-top: 7px solid #ff5357;
   
  top: 200px;
  left: 50%;
  margin-left: -310px;
  width: 620px;
  background-color: #f4f4f4;
  z-index: 50;
}

.modal-confirmation p {
  margin: 0;
  width: 100%;
  padding: 66px 10px 70px 179px;
  background: url("../img/icon-mark.svg") no-repeat 81px 48px;
  background-color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.modal-confirmation .button {
  margin: 37px 10px;
  width: 220px;
  padding-top: 11px;
  padding-bottom: 9px;
  border: none;
  font-family: "Cuprum", Arial, sans-serif;
}

.modal-confirmation a.button {
  margin-left: 80px;
  text-align: center;
}

.modal-confirmation button.button {
  margin-right: 80px;
    color: #000000;
  background-color: #ffffff;
}

.modal-show {
  display: block;
}

.features .active-slide {
  display: block;
}